.home {
    .info-section {
        // width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 54px;
        .info-box {
            position: absolute;
            bottom: 60px;
            h4 {
                font-size: 1.2rem;
                color: #fefefe;
                margin: 0.7rem 0;
            }
            p {
                font-size: 0.9rem;
                font-weight: 300;
                color: #fefefe;
                margin: 0.2rem 0 1.6rem;
                transition: all .4s ease-in-out;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
    // info-section
    .content-area {
        margin-left: 35%;
        width: 65%;
        background-color: #fefefe;
        height: 100%;
        // padding: 0 0 0 25%;
        .img-container {
            width: 30%;
            display: inline-block;
            position: relative;
            height: 100%;
            .user-img {
                position: absolute;
                top: 130px;
                left: -250px;
                width: 500px;
                height: 70%;
                -webkit-box-shadow: 9px 2px 13px -1px rgba(50, 31, 105, 0.79);
                box-shadow: 9px 2px 13px -1px rgba(50, 31, 105, 0.79);
                background: url(../img/hyemee-photo2.jpg) no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        }
        .profile-section {
            max-width: 500px;
            vertical-align: top;
            display: inline-block;
            padding: 20% 0 0;
            .profile {
                h1 {
                    color: #272727;
                    font-size: 2.3rem;
                    font-weight: 500;
                    line-height: 1.2;
                    margin: 0 0 1.7rem;
                    span {
                        color: #272727;
                    }
                }
                h5 {
                    color: #673de6;
                    font-size: 1.1rem;
                    margin: 0 0 1rem;
                }
                p {
                    color: #272727;
                    font-weight: 300;
                    line-height: 1.4;
                    margin: 0 0 2rem;
                }
            }
        }
    }
    // content-area
} // home
// phone
@media (max-width:767px) {
    .home {
        .menu-icon {
            top: 0;
            right: 20px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            .fa-bars {
                color: white;
            }
        }
        .info-section {
            padding: 12px 20px;
            position: static;
            // left: 0;
            // bottom: 0;
            // top:0;
            // width: 35%;
            .logo {
                height: 50px;
                width: 70px;
                img {
                    width: 85%;
                }
            }
            .info-box {
                display: none;
            }
        }
        .content-area {
            margin-left: 0;
            width: 100%;
            height: 100vh;
            .img-container {
                padding: 56px 20px 0;
                width: 100%;
                .user-img {
                    position: static;
                    width: 100%;
                }
            }
            .profile-section {
                width: 90%;
                padding: 20px;
                display: flex;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                .profile {
                    text-align: center;
                    p {
                        color: #ebe8e8;
                        font-weight: 300;
                        line-height: 1.4;
                        margin: 0 0 2rem;
                    }
                    a.primary-btn {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

// tablet
@media (min-width:768px) and (max-width:991px) {
    .home {
        .content-area {
            .img-container {
                padding: 0;
                .user-img {
                    height: 13rem;
                    top: 25%;
                    width: 13rem;
                    left: -280px
                }
            }
            .profile-section {
                width: 70%;
                float: right;
                padding: 20% 20px 0;
            }
        }
    }
}

// laptop
@media (min-width:992px) and (max-width:1199px) {
    .home {
        .content-area {
            .img-container {
                padding: 56px 20px 0;
                float: left;
                .user-img {
                    top: 20%;
                    left: -150px;
                    width: 18rem;
                    height: 40%;
                }
            }
            .profile-section {
                width: 70%;
                float: right;
                float: left;
                padding: 20% 20px 0;
                max-width: 800px;
            }
        }
    }
}

// big screen
@media (min-width:1200px) {
    .home {
        .content-area {
            .img-container {
                padding: 56px 20px 0;
                float: left;
                .user-img {
                    // position: static;
                    // width: 100%;
                }
            }
            .profile-section {
                width: 70%;
                padding: 20% 60px 0;
                float: left;
                max-width: 800px;
                // padding: 20% 20px 0;
            }
        }
    }
}